@model Entity.Models.EmployeeModel
<form method="post" asp-action="Add">
    <div class="mb-3">
        <label for="Name" class="form-label">name</label>
        <input type="text" name="Name" class="form-control"/>
        
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" name="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="Salary" class="form-label">Salary</label>
        <input type="number" name="Salary" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="DateOfBirth" class="form-label">DateOfBirth</label>
        <input type="date" name="DateOfBirth" class="form-control" />
    </div>
    
        <button type="submit" class="btn btn-primary" >Submit</button>

</form>