@model Entity.Models.EmployeeUpdateModel

<form method="post" asp-controller="Employee" asp-action="Update">
   <div class="mb-3">
        <label for="Id" class="form-label">id</label>
        <input type="text" asp-for="Id" class="form-control" readonly>
    </div>
    <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" asp-for="Name" class="form-control" >
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label for="Salary" class="form-label">Salary</label>
        <input type="number" asp-for="Salary" class="form-control">
    </div>
    <div class="mb-3">
            <label for="DateOfBirth" class="form-label">DateOfBirth</label>
            <input type="date" asp-for="DateOfBirth" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button> 
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Employee">Delete</button>
</form>
